<div class="container">

  <h2 class="text-center mt-4 mb-4">Pizza Ordering System</h2>
  <div class="card text-center">
    <div class="card-header">
      Promotional Offers
      <button class="btn btn-info" (click)="clickMe()" [disabled]="confirmArrivalTimer && confirmArrivalTimer != '0'">Click</button>

    </div>
    <div class="card-block">
      <ul class="list">
        <li class="item"><strong>Offer 1</strong> 1 Small Pizza with 2 toppings = $5</li>
        <li class="item"><strong>Offer 2</strong> 2 Medium Pizza with 4 toppings each = $9</li>
        <li class="item"><strong>Offer 3</strong> 1 Large with 4 toppings ( Peperoni and Barbecue chicken are counted as
          2
          toppings)- 50% discount</li>
      </ul>
    </div>
    <!-- <div class="card-footer text-muted">
      2 days ago
    </div> -->
  </div>

  <!-- <table class="table table-bordered table-sm mt-5">
    <thead>
      <tr>
        <th scope="col">Toppings </th>
        <th scope="col" *ngFor="let pizza of pizzaSizes">{{pizza.size}} {{pizza.price | currency:'USD'}}
          <div class="quantity-btns input-group">
            <div class="input-group-prepend">
              <span class="input-group-text p-0">
                <button type="button" class="btn btn-sm bg-transparent btn-number pt-0 pb-0" data-type="decrement"
                  (click)="pizzaQuantity($event, pizza)">
                  -
                </button>
              </span>
            </div>
            <input type="text" name="small" class="form-control p-0 text-center input-number"
              [value]="getQtyFromOrder(pizza.size)" min="0" max="10">
            <div class="input-group-append">
              <span class="input-group-text p-0">
                <button type="button" class="btn btn-sm bg-transparent btn-number pt-0 pb-0" data-type="increment"
                  (click)="pizzaQuantity($event, pizza)">
                  +
                </button>
              </span>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let topping of toppings; let t = index">
        <td scope="row">{{topping.name}} ({{topping.price | currency:'USD'}})</td>
        <td *ngFor="let pizza of pizzas; let p = index">
          <label class="checkbox-outer">
            <input id="{{pizza.size.toLowerCase()+'-'+p}}" class="small-checkbox" type="checkbox"
              [value]="topping.price" (click)="chooseToppingItem($event, pizza, topping)">
            <span class="checkmark"></span>
          </label>
        </td>
      </tr>
      <tr>
        <th class="total" colspan="5">Total</th>
      </tr>
      <tr>
        <th>Offers</th>
        <td>{{offer1}}</td>
        <td>{{offer2}}</td>
        <td>{{offer3}}</td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span [innerHtml]="getPrice(order.small, 'small')"></span></td>
        <td><span [innerHtml]="getPrice(order.medium, 'medium')"></span> </td>
        <td><span [innerHtml]="getPrice(order.large, 'large')"></span> </td>
        <td><span [innerHtml]="getPrice(order.extralarge, 'extralarge')"></span> </td>
      </tr>
    </tbody>
  </table> -->
  <!-- <table class="table table-bordered table-sm mt-5">
    <tbody>
      <tr *ngFor="let key of orderKeys(order)">
        <td>{{key}}</td>
        <td>
          <ul>
            <li *ngFor="let order of order[key]">
              <p>{{order | json}} </p>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table> -->

  <table class="table table-bordered table-sm mt-5">
    <thead>
      <tr>
        <th scope="col">Toppings</th>
        <th scope="col">Small ({{pizzaSizes.small.rate | currency:'USD' }})
          <div class="quantity-btns input-group">
            <div class="input-group-prepend">
              <span class="input-group-text p-0">
                <button type="button" class="btn btn-sm bg-transparent btn-number pt-0 pb-0" data-type="minus"
                  data-field="small">
                  -
                </button>
              </span>
            </div>
            <input type="text" name="small" class="form-control p-0 text-center input-number" value="0" min="0"
              max="1">
            <div class="input-group-append">
              <span class="input-group-text p-0">
                <button type="button" class="btn btn-sm bg-transparent btn-number pt-0 pb-0" data-type="plus"
                  data-field="small">
                  +
                </button>
              </span>
            </div>
          </div>
        </th>
        <th scope="col">Medium ({{pizzaSizes.medium.rate | currency:'USD' }})
          <div class="quantity-btns input-group">
            <div class="input-group-prepend">
              <span class="input-group-text p-0">
                <button type="button" class="btn btn-sm bg-transparent btn-number pt-0 pb-0" data-type="minus"
                  data-field="medium">
                  -
                </button>
              </span>
            </div>
            <input type="text" name="medium" class="form-control p-0 text-center input-number" value="0" min="0"
              max="2">
            <div class="input-group-append">
              <span class="input-group-text p-0">
                <button type="button" class="btn btn-sm bg-transparent btn-number pt-0 pb-0" data-type="plus"
                  data-field="medium">
                  +
                </button>
              </span>
            </div>
          </div>
        </th>
        <th scope="col">Large ({{pizzaSizes.large.rate | currency:'USD' }})
          <div class="quantity-btns input-group">
            <div class="input-group-prepend">
              <span class="input-group-text p-0">
                <button type="button" class="btn btn-sm bg-transparent btn-number pt-0 pb-0" data-type="minus"
                  data-field="large">
                  -
                </button>
              </span>
            </div>
            <input type="text" name="large" class="form-control p-0 text-center input-number" value="0" min="0"
              max="1">
            <div class="input-group-append">
              <span class="input-group-text p-0">
                <button type="button" class="btn btn-sm bg-transparent btn-number pt-0 pb-0" data-type="plus"
                  data-field="large">
                  +
                </button>
              </span>
            </div>
          </div>
        </th>
        <th scope="col">Extra Large ({{pizzaSizes.extralarge.rate | currency:'USD' }})
          <div class="quantity-btns input-group">
            <div class="input-group-prepend">
              <span class="input-group-text p-0">
                <button type="button" class="btn btn-sm bg-transparent btn-number pt-0 pb-0" data-type="minus"
                  data-field="extralarge">
                  -
                </button>
              </span>
            </div>
            <input type="text" name="extralarge" class="form-control p-0 text-center input-number" value="0" min="0"
              max="1">
            <div class="input-group-append">
              <span class="input-group-text p-0">
                <button type="button" class="btn btn-sm bg-transparent btn-number pt-0 pb-0" data-type="plus"
                  data-field="extralarge">
                  +
                </button>
              </span>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="sub-head" colspan="5">Veg Toppings</th>
      </tr>
      <tr *ngFor="let veg of toppings.veg; let i = index">
        <td scope="row">{{veg.name}} ({{veg.rate | currency:'USD'}})</td>
        <td [ngClass]="{'disabled': order.small.length<1}">
          <label class="checkbox-outer">
            <input id="{{'sm-v-'+i}}" class="small-checkbox" type="checkbox" [value]="veg.rate" data-size="small"
              >
            <span class="checkmark"></span>
          </label>
        </td>
        <td [ngClass]="{'disabled': order.medium.length<1}">
          <label class="checkbox-outer">
            <input id="{{'md-v-'+i}}" class="medium-checkbox" type="checkbox" [value]="veg.rate" data-size="medium"
              >
            <span class="checkmark"></span>
          </label>
        </td>
        <td [ngClass]="{'disabled': order.large.length<1}">
          <label class="checkbox-outer">
            <input id="{{'lg-v-'+i}}" class="large-checkbox" type="checkbox" [value]="veg.rate" data-size="large"
              >
            <span class="checkmark"></span>
          </label>
        </td>
        <td [ngClass]="{'disabled': order.extralarge.length<1}">
          <label class="checkbox-outer">
            <input id="{{'xlg-v-'+i}}" class="extralarge-checkbox" type="checkbox" [value]="veg.rate" data-size="extralarge"
              >
            <span class="checkmark"></span>
          </label>
        </td>
      </tr>
      <tr>
        <th class="sub-head" colspan="5">Non Veg Toppings</th>
      </tr>
      <tr *ngFor="let veg of toppings.nonveg; let i = index">
        <td scope="row">{{veg.name}} ({{veg.rate | currency:'USD'}})</td>
        <td *ngFor="let size of sizes; let j = index">
          <label class="checkbox-outer">
            <input class="small-checkbox" type="checkbox" (click)="selectTopping(i, j)">
            <span class="checkmark"></span>
          </label>
        </td>
      <tr>
        <th class="total" colspan="5">Total</th>
      </tr>
      <tr>
        <th>Offers</th>
        <td>{{offer1}}</td>
        <td>{{offer2}}</td>
        <td>{{offer3}}</td>
        <td></td>
      </tr>
      <!-- <tr>
        <td>&nbsp;</td>
        <td><span [innerHtml]="getPrice(order.small, 'small')"></span></td>
        <td><span [innerHtml]="getPrice(order.medium, 'medium')"></span> </td>
        <td><span [innerHtml]="getPrice(order.large, 'large')"></span> </td>
        <td><span [innerHtml]="getPrice(order.extralarge, 'extralarge')"></span> </td>
      </tr> -->
    </tbody>
  </table>
  <p class="text-right small"><i> <b> Note: DP = Discounted Price, AP = Actual Price </b></i></p>
</div>