<div class="container">

  <h2 class="text-center mt-4 mb-4">Pizza Ordering System</h2>
  <div class="card text-center">
    <div class="card-header">
      Promotional Offers
    </div>
    <div class="card-block">
      <ul class="list">
        <li class="item"><strong>Offer 1</strong> 1 Medium Pizza with 2 topping = $5</li>
        <li class="item"><strong>Offer 2</strong> 2 Medium Pizza with 4 topping each = $9</li>
        <li class="item"><strong>Offer 3</strong> 1 Large with 4 toppings ( Peperoni and Barbecue chicken are counted as
          2
          toppings)- 50% discount</li>
      </ul>
    </div>
    <!-- <div class="card-footer text-muted">
      2 days ago
    </div> -->
  </div>

  <table class="table table-bordered table-sm mt-5">
    <thead>
      <tr>
        <th scope="col">Toppings</th>
        <th scope="col">Small ({{pizzaSizes.small.rate | currency:'USD' }}) </th>
        <th scope="col">Medium ({{pizzaSizes.medium.rate | currency:'USD' }})</th>
        <th scope="col">Large ({{pizzaSizes.large.rate | currency:'USD' }})</th>
        <th scope="col">Extra Large ({{pizzaSizes.extralarge.rate | currency:'USD' }})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="sub-head" colspan="5">Veg Toppings</th>
      </tr>
      <tr *ngFor="let veg of toppings.veg; let i = index">
        <td scope="row">{{veg.name}} ({{veg.rate | currency:'USD'}})</td>
        <td>
          <!-- <div class="input-group"> -->
          <label class="checkbox-outer">
            <input id="{{'sm-'+i}}" type="checkbox" [value]="veg.rate" data-size="small"
              (click)="chooseItem($event, veg)">
            <span class="checkmark"></span>
          </label>
          <!-- </div> -->
        </td>
        <td>
          <!-- <div class="input-group"> -->
          <label class="checkbox-outer">
            <input id="{{'md-'+i}}" type="checkbox" [value]="veg.rate" data-size="medium"
              (click)="chooseItem($event, veg)">
            <span class="checkmark"></span>
          </label>
          <!-- </div> -->
        </td>
        <td>
          <!-- <div class="input-group"> -->
          <label class="checkbox-outer">
            <input id="{{'lg-'+i}}" type="checkbox" [value]="veg.rate" data-size="large"
              (click)="chooseItem($event, veg)">
            <span class="checkmark"></span>
          </label>
          <!-- </div> -->
        </td>
        <td>
          <!-- <div class="input-group"> -->
          <label class="checkbox-outer">
            <input id="{{'xlg-'+i}}" type="checkbox" [value]="veg.rate" data-size="extralarge"
              (click)="chooseItem($event, veg)">
            <span class="checkmark"></span>
          </label>
          <!-- </div> -->
        </td>
      </tr>
      <tr>
        <th class="sub-head" colspan="5">Non Veg Toppings</th>
      </tr>
      <tr *ngFor="let veg of toppings.nonveg; let i = index">
        <td scope="row">{{veg.name}} ({{veg.rate | currency:'USD'}})</td>
        <td>
          <!-- <div class="input-group"> -->
          <label class="checkbox-outer">
            <input id="{{'sm-'+i}}" type="checkbox" [value]="veg.rate" data-size="small"
              (click)="chooseItem($event, veg)">
            <span class="checkmark"></span>
          </label>
          <!-- </div> -->
        </td>
        <td>
          <!-- <div class="input-group"> -->
          <label class="checkbox-outer">
            <input id="{{'md-'+i}}" type="checkbox" [value]="veg.rate" data-size="medium"
              (click)="chooseItem($event, veg)">
            <span class="checkmark"></span>
          </label>
          <!-- </div> -->
        </td>
        <td>
          <!-- <div class="input-group"> -->
          <label class="checkbox-outer">
            <input id="{{'lg-'+i}}" type="checkbox" [value]="veg.rate" data-size="large"
              (click)="chooseItem($event, veg)">
            <span class="checkmark"></span>
          </label>
          <!-- </div> -->
        </td>
        <td>
          <!-- <div class="input-group"> -->
          <label class="checkbox-outer">
            <input id="{{'xlg-'+i}}" type="checkbox" [value]="veg.rate" data-size="extralarge"
              (click)="chooseItem($event, veg)">
            <span class="checkmark"></span>
          </label>
          <!-- </div> -->
        </td>
      </tr>
      <tr>
        <th class="total" colspan="5">Total</th>
      </tr>
      <tr>
        <th>Offers</th>
        <td></td>
        <td>{{offer1}}</td>
        <td>{{offer3}}</td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span [innerHtml]="getPrice(order.small, 'small')"></span></td>
        <td><span [innerHtml]="getPrice(order.medium, 'medium')"></span> </td>
        <td><span [innerHtml]="getPrice(order.large, 'large')"></span> </td>
        <td><span [innerHtml]="getPrice(order.extralarge, 'extralarge')"></span> </td>
      </tr>
    </tbody>
  </table>
  <p class="text-right small"><i> <b> Note: DP = Discounted Price </b></i></p>
</div>